img {
  border-radius: 3px;
}

.container {
  display: flex;
  flex-direction: column;
  margin: 5px;
}


.unit-info {
  border: 1px solid rgb(225, 225, 225);
  border-radius: 5px;
  padding: 5px;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.unit-info div {
  flex: 1;
}

.unit-name-picture {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.unit-counter-columns {
  border: 1px solid rgb(225, 225, 225);
  border-radius: 5px;
  flex-direction: row;
  justify-content: space-between;
}

.unit-counters-list {
  align-items: center;
  width: 50%;
}

.unit-counters {
  width: 60%;
}

.unit-counter {
  flex-direction: row;
  padding: 5px;
  border: 1px solid rgb(225, 225, 225);
  border-radius: 5px;
  background: rgb(250, 250, 250);
}

.unit-counter-description {
  margin: 0px;
  margin-left: 5px;
}

.unit-name {
  font-weight: bold;
  color: black;
  text-decoration: underline;
}

.unit-name:hover {
  color: rgb(0, 125, 185);
  cursor: pointer;
}

.unit-building-description {
  align-items: flex-start;
}

.unit-building {
  flex-direction: row;
  float: left;
  margin-left: 0;
  align-items: center;
  font-weight: bold;
}

.building-name {
  margin-left: 5px;
}


.civilization-list {
  flex-direction: row;
  flex-wrap: wrap;
  padding-right: 15px;
}

.civilization {
  margin: 0;
  flex-direction: row;
  min-width: 80px;
  align-items: center;
}

.civilization-name {
  font-size: 8pt;
  color: rgb(95, 95, 95)
}


.header {
  font-weight: bold;
  font-size: 16pt;
}

.header-small {
  font-weight: bold;
  font-size: 13pt;
}